
# Dependencies
node_modules/

# Build artifacts
dist/
dist-scripts/
.firebase/

# Environment variables
.env
.env.*
!/.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Compiled files
src/lib/firebase.js

# Cache
.vite/
.yarn/cache
.npm/

# OS-specific
.DS_Store
Thumbs.db
